<html>
  <head>
    <title>w2d4 lecture</title>
  </head>
  <body>
    <h1>User authentication sample</h1>
    <p>
      Either a login or logout form will be
      rendered below, depending on whether or not
      the template gets a <tt>username</tt>.
    </p>
    <% include partial/login %>
  </body>
</html>